/node_modules
/public/hot
/public/static/dist
/public/storage
/storage/phpstan/
/storage/*.key
/vendor
.env*
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
