parameters:
    tmpDir: storage/phpstan
    ignoreErrors:
        - '#Argument of an invalid type stdClass supplied for foreach, only iterables are supported.#'
    level: 6
    paths:
        - Domain
        - Infrastructure
        - Integration
        - Service
        - Web
