parameters:
    tmpDir: storage/phpstan
    level: 8
    paths:
        - Domain
        - Infrastructure
        - Integration
        - Service
        - Web
    ignoreErrors:
        - '#should return Illuminate\\Contracts\\View\\View but returns Illuminate\\Contracts\\View\\Factory|Illuminate\\Contracts\\View\\View.$#'